<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/registerLog.jpg" alt="" style="width: 35%;">
                    </div>
                    <h1 class="text-center">Register Here</h1>
                    <form (ngSubmit) = "registerUser()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input
                                required
                                matInput
                                name="username"
                                [(ngModel)]="user.username"
                                placeholder="Enter here"
                            >
                            <mat-hint>Username must be unique!</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input
                                required
                                name="password"
                                [(ngModel)]="user.password"    
                                type="password" 
                                matInput placeholder="Enter here">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Firstname</mat-label>
                            <input
                                required
                                name="firstname"
                                [(ngModel)]="user.firstname" 
                                matInput placeholder="Enter here">
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Lastname</mat-label>
                            <input
                                required
                                name="lastname"
                                [(ngModel)]="user.lastname" 
                                matInput placeholder="Enter here">
                        </mat-form-field>
                        
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input
                                required
                                type="email"
                                matInput placeholder="Enter here"
                                name="email"
                                [(ngModel)]="user.email"
                                >
                        </mat-form-field>
                        
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input
                                required
                                type="number" 
                                matInput placeholder="Enter here"
                                name="phone"
                                [(ngModel)]="user.phone">
                        </mat-form-field>

                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Register</button>
                            <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>