<mat-card>
    <h1>Add new Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="addCategory()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input
                                required
                                autofocus
                                type="text"
                                name="title"
                                matInput
                                placeholder="Enter here"
                                [(ngModel)]="category.title"
                            >
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <textarea
                                required
                                matInput
                                name="description"
                                placeholder="Enter Category Description"
                                rows="15"
                                [(ngModel)]="category.description"
                            ></textarea>
                        </mat-form-field>
                        <div class="container text-center mt15">
                            <button mat-raised-button color="primary">Add</button>
                            <!-- <div class="spinner" style="width: 10; height: 10px;">
                                <mat-spinner class="spinner"  color="accent"></mat-spinner>
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
